
{% extends 'base.html'%}
{% block content %}


<section class="artist-header" style="background-image:url({{artist.photo_url}})">
  <section class="artist-info">
      <h2>{{artist.name}} <a href="">edit</a></h2>
      <h4><a href="" class="delete">delete</a> {{artist.nationality}}</h4>
  </section>
</section>



<ul class="tracks">
    <h2>Songs <a href="">+</a></h2>
  {% for song in artist.songs.all %}
  <a href="{{song.spotify_preview}}">
    <li class="track">
      {{song.title}}
    </li>
  </a>
  {% endfor %}
</ul>
{% endblock %}