{% extends 'base.html' %}


{% block content %}

    <h1 class="profile-name">{{user.username}}</h1>

    <section>
        
        <ul class="tracks">
            <h2>Submited Artists</h2>
            {% if artists %}
                {% for artist in artists %}
                    <a href="{% url 'artist_detail' pk=artist.pk %}">
                        <li class='track'>
                        <img src="{{artist.photo_url}}" />
                        {{ artist.name }}
                        </li>
                    </a>
                {% endfor %}
            {% else: %}
                <h2>You have no Submitted Artists</h2>
            {% endif %}
        </ul>
        
    </section>

{% endblock %}